<!doctype html>
<html lang="en-au">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="Asperger Media | Autistic. Information Tech.">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <title>{{ page.title }}</title>
        <link rel="stylesheet" type="text/css" href="/static/css/aspergermedia.css" media="screen">
        <link rel="stylesheet" href="https://use.typekit.net/yua8lnj.css">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
        <script type="text/javascript" src="/static/js/jquery.min.js"></script>
        <script type="text/javascript" src="/static/js/moment.min.js"></script>
        <script type="text/javascript" src="/static/js/livestamp.min.js"></script>
        <script type="text/javascript" src="/static/js/aspmd.js"></script>
        <link rel="icon" href="/favicon.ico">
    </head>
    <body>
        <div id="header">
            <div id="aspnt-logo">
                <img src="/static/img/aspergerpotential.png">
            </div>
            <div id="user-links">
                call us: <a href="tel:+61280386324">(02) 8038 6324</a>
            </div>
        </div>
        <div id="nav">
            <ul id="nav-actual">
                <li>
                    <a href="/">home</a>
				</li>
				<li>
                    <a href="/about">about</a>
				</li>
				<li>
                    <a href="/blog">blog</a>
                </li>
            </div>
        </div>
        <div id="body">
			{{ content }}
		</div>
		<div id="footer">
			<div id="links">
				<dl>
					
				</dl>
				<dl>
					
				</dl>
				<dl>
					
				</dl>
			</div>
			<div id="copyright">
				<dl>
					<dt>asperger.media</dt>
					<dd>autism. information tech.</dd>
					<dd>copyright © 2019 asperger media pty ltd</dd>
					<dd>abn: 75 625 086 455 | acn: 625 086 455</dd>
					<dd>website developed in-house by <a href="//bdc.id.au" target="_new">ben cousins</a></dd>
					
					<dt class="top-padding">social media</dt>
					<dd>catch up with us on:</dd>
					<dd>
						<a href="//fb.me/aspergermedia" target="_new">facebook</a> |
						<a href="//twitter.com/aspergermedia" target="_new">twitter</a> |
						<a href="//instagram.com/aspergermedia" target="_new">instagram</a>
					</dd>
					
					<dt class="top-padding">our other sites</dt>
					<dd>
						<a href="//aspergers.network">aspergers.network</a>
					</dd>
				</dl>
			</div>
			<script type="text/javascript">
				var navTop = $('#nav').offset().top;
		
				$(window).scroll(function(){
					if ($(this).scrollTop() >= navTop) {
						$('#nav').css('position', 'fixed');
						$('#nav').css('top', '0');
					} else {
						$('#nav').css('position', 'absolute');
						$('#nav').css('top', '81px');
					}
				});
			</script>
		</body>
		</html>